<?xml version="1.0"?>
<config>
    <modules>
        <Bitpagos_Bitpagos>
            <version>0.1.0</version>
        </Bitpagos_Bitpagos>
    </modules>
    <frontend>
        <layout>
            <updates>
                <mymodule>
                    <file>bitpagos.xml</file>
                </mymodule>
            </updates>
        </layout>     
        <routers>
            <bitpagos>
                <use>standard</use>
                <args>
                    <module>Bitpagos_Bitpagos</module>
                    <frontName>bitpagos</frontName>
                </args>
            </bitpagos>
        </routers>        
    </frontend>
    <global>        
        <models>
            <bitpagos>
                <class>Bitpagos_Bitpagos_Model</class>
                <resourceModel>bitpagos_mysql4</resourceModel>
            </bitpagos>
            <bitpagos_mysql4>
                <class>Bitpagos_Bitpagos_Model_Mysql4</class>
                <entities>
                    <bitpagos>
                        <table>bitpagos</table>
                    </bitpagos>
                </entities>
            </bitpagos_mysql4>
        </models>
        <!-- <resources>
            <bitpagos_setup>
                <setup>
                    <module>Bitpagospayment_Bitpagos</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bitpagos_setup>
            <bitpagos_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bitpagos_write>
            <bitpagos_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bitpagos_read>
        </resources> -->
        <blocks>
            <bitpagos>
                <class>Bitpagos_Bitpagos_Block</class>
            </bitpagos>
        </blocks>
        <helpers>
            <bitpagos>
                <class>Bitpagos_Bitpagos_Helper</class>
            </bitpagos>
        </helpers>
    </global>
    <default>
        <payment>
            <bitpagos>
                <active>1</active>
                <model>bitpagos/standard</model>
                <order_status>processing</order_status>
                <title>Pay with BitPagos</title>
                <group>bitpagos</group>                
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>                
                <ipn_url>bitpagos/ipn</ipn_url>
            </bitpagos>
         </payment>
         <bitpagos>
            <settings>
                <activationstatus>0</activationstatus>
            </settings>
        </bitpagos>
    </default>
</config>
